[Unit]
Description=Webapp systemd file
ConditionPathExists=/opt/webapp/.env
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
EnvironmentFile=/opt/webapp/.env
WorkingDirectory=/opt
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=adityamysore002

[Install]
WantedBy=multi-user.target

